.container {
  max-width: 960px;
  margin: 0 auto;
}


h1 {
  text-align: center;
  font-size: 6em;
}

h2 {
  text-align: center;
  font-size: 2em;
}

#game-board {
  max-width: 50%;
    margin: 0 auto;
}

table {
  width: 100%;
}

td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 33.33%;
  position: relative;
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

td .marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: gold;
  text-align: center;
  font-size: 8em;
}

.token {
  max-width: 90%;
  max-height: 90%;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
}

.hidden {
  visibility: hidden;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 30px 10px 30px;
}

p {
  text-align: center;
  font-size: 4em
}
